APP_ENV=local
APP_DEBUG=true
APP_KEY=Rj0CiHyFMEO872LiEBa927DiEP14BHF69OZ
APP_TIMEZONE=UTC
APP_NAME="StrikeTec"
APP_URL="http://localhost:8001"
STORAGE_URL="http://localhost:8001"
DATA_STORAGE_URL="./../storage/data/"

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=striketec_db
DB_USERNAME=root
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=info@striketec.com
MAIL_PASSWORD="~StrIk3Tec!&17"
MAIL_ENCRYPTION=tls
MAIL_FOOTER=""

CACHE_DRIVER=file
QUEUE_DRIVER=sync

JWT_SECRET=AAGA5ySsh86hWza0eRwjtg642eRzOS9D

GOOGLE_FCM_SERVER_KEY="AAAAwJCB1YA:APA91bGFGsxPjIjXeXISsjaTOmzTwihn-thWrSngmHQZ9_LuBOJ0F7lm_oW-ePscjLb3uP_g5oL123ceBhQ9aBeEra0XG0blsQDZhIcys6389jhNwPkGw2d73VKAcLBPzNIi-8g1ec7u"

APNS_CERT="striketec_aps_development.pem"
APNS_CERT_PASSPHRASE="StrikeTec!@#123"